In [7]:
import pandas as pd
import seaborn as sns

C:\Users\pedro\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
rain = pd.read_csv('./data/rain_data_aus.csv')

In [12]:
from opencage.geocoder import OpenCageGeocode

key = '46b48d2d3d8f4acb88f582e3a83cbe77'
geocoder = OpenCageGeocode(key)

city_lat = {}
city_lng = {}

for city in rain['location'].unique():
    query = f'{city}, Australia'
    results = geocoder.geocode(query)
    city_lat[city] =results[0]['geometry']['lat']
    city_lng[city] =results[0]['geometry']['lng']

In [17]:
cities = pd.DataFrame(data=[city_lat,city_lng]).T

In [21]:
cities = cities.reset_index()
cities.columns= ['location','lat','lng']

In [22]:
rain = pd.merge(left=rain,right=cities,on='location')

In [23]:
rain

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,humidity9am,humidity3pm,pressure9am,...,raintoday,amountOfRain,raintomorrow,temp,humidity,precipitation3pm,precipitation9am,modelo_vigente,lat,lng
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,71.0,22.0,1007.7,...,No,0.0,No,29.48,28.400000,12,5.115360,0.089825,-36.080477,146.916280
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,44.0,25.0,1010.6,...,No,0.0,No,32.12,2.208569,10,21.497100,0.023477,-36.080477,146.916280
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,38.0,30.0,1007.6,...,No,0.0,No,32.84,38.000000,17,20.782859,0.027580,-36.080477,146.916280
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,45.0,16.0,1017.6,...,No,1.0,No,35.60,21.200000,8,12.028646,0.023962,-36.080477,146.916280
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,82.0,33.0,1010.8,...,No,0.2,No,40.76,41.600000,9,11.883546,0.220164,-36.080477,146.916280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,59.0,27.0,1024.7,...,No,0.0,No,28.16,34.400000,12,5.848681,0.002556,-25.345554,131.036961
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,51.0,24.0,1024.6,...,No,0.0,No,30.08,30.800000,10,6.653879,0.002053,-25.345554,131.036961
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,56.0,21.0,1023.5,...,No,0.0,No,32.36,27.200000,9,19.715976,0.023350,-25.345554,131.036961
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,53.0,24.0,1021.0,...,No,0.0,No,34.28,30.800000,12,0.985551,0.007195,-25.345554,131.036961
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,51.0,24.0,1019.4,...,No,0.0,No,34.40,30.800000,15,4.381481,0.018811,-25.345554,131.036961